.container-detail {
    padding: 0 20px;
    text-align:justify;
}

.img-detail {
    float:left;
    width: 30%;
    height: 500px;
    opacity: 0.2;
    padding: 0 20px;
    border-radius: 100px 30px  100px 30px;
}

.ul-detail {
   
    display:flex;
    list-style-type: none;
    gap: 20px;
    flex-wrap: wrap;
    width: 600px;
}

.li-detail::before {
    content: "▣ "; 
    color: rgb(255, 255, 255);
}

.li-detail {
    text-align: left;

}

.title-detail {
    padding: 0;
    margin: 0;
    text-align:center;
    animation-name: name;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes name {
    0% {color: transparent;
        text-shadow: 0 0 8px #504a4a;} 
   25% {color: rgb(255, 255, 255);} 
   50% {color: transparent;
    text-shadow: 0 0 8px #504a4a;} 
   75% {color: rgb(255, 255, 255)} 
  100% {color: transparent;
    text-shadow: 0 0 8px #504a4a;} 
}

p {
    font-size: 15px;
}

.h1-home{
    cursor: pointer
}

.h1-home::after {
        content: '⟫'
}

@media (max-width: 779px) {
    .img-detail {
        float:none;
        width: 80vw;
        opacity: 0.2;
        border-radius: 100px 30px  100px 30px;
    }

    .container-detail {
        font-size: 10px;
        width: 80vw;
    }

    .ul-detail {
        width: 80vw;
    }
}

@media (max-width: 280px) {
    .img-detail {
        float:none;
        height: 100vw;
        opacity: 0.2;
        border-radius: 100px 30px  100px 30px;
    }
}
