.container-form{
    font-size: 15px;
    margin: 5px 70px;
    text-align: justify;

}

.p {
    color : red;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.input-form {
    background-color:  rgba(255, 255, 255, 0.159);
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    color:bisque;

}

.select-form {
    margin-top: 10px;
    background-color:  rgba(255, 255, 255, 0.159);
    border-radius: 5px;
    color:bisque;
    padding: 0 15px;
}

.description {
    width: 240px;
    height: 170px;
}

.img-create {
    position:absolute;
    top: 0;
    left: 40%;
    width: 55%;
    height: 100%;
    border-style:none ;
}

.message-create {
    animation-name: name;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position:absolute;
    top: 20%;
    left: 50%;
    z-index: 1;
}