.container {
    justify-content: center;
    width: 15vw;
    max-height: max-content;
    overflow:hidden;
    margin: 0.7vw;
    font-size: 0.9vw;
    background-image: linear-gradient(163deg, #b8b7b7 0%, #46444e 100%);
    border-radius: 1vw;
    transition: all .3s;
}

.img {
    width: 15vw;
    height: 14vw;
    overflow:hidden;
    transform: scale(1.05);  
    padding: 0;
    margin: 0;

}

.ul {
    list-style-type: none;
    justify-content:space-evenly;
    display:grid;
    grid-template-columns: repeat(auto-fill, 5em);
    padding: 0;
    margin: 0; 
}

.li::before {
    content: "▣"; 
    color: rgb(0, 0, 0);
  }

.link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.text {
    padding: 0;
    margin: 0;
}

.rating::before {
    content: "✮ ";
    color: rgb(255, 242, 0);
}

.card2 {
    width: 15vw;
    height: 100%;
    background-color: #1a1a1a43;
    border-collapse: collapse;
    transition: all .2s;
}

.img:hover {
    transform: scale(1.08);
    border-radius: 1vw 1vw 0 0;
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 1vw;
}
   
.container:hover {
    box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.3);
}


/* @media(max-width: 820px){
    .card2{
        width: 180px,
    }
    .container {
        width: 180px;
        font-size: 12px;
        margin: 8px
    }
    .text{
        padding-right: 35px;
        overflow:visible;
    }
}


@media (max-width: 700px) {
    .card2{
        width: 150px,
    }
    .container {
        width: 150px;
        font-size: 10px;
        margin: 10px
    }
    .img{
        width: 200px;
        height: 150px;
        transform: scale(1.0);
    }
    .text{
        padding-right: 35px;
        overflow:visible;
    }
}

@media (max-width: 550px) {
    .card2{
        width: 150px,
    }
    .container {
        width: 150px;
        font-size: 10px;
        margin: 10px;
        
    }
    .img{
        width: 200px;
        height: 150px;
        transform: scale(1.0);
    }
    .text{
        padding-right: 35px;
        overflow:visible;
    }
}
 */



