.container-card {
    justify-content: center;
    display:grid;
    grid-template-columns: repeat(auto-fill, 17vw);
    margin-left: 25vw;
}

.btn-open{
    position: absolute;
    z-index: 1;
    margin:-1vw 0vw;
    background-color: rgba(22, 1, 1, 0.815);
    color: whitesmoke;
    border-style: none;
    cursor: pointer;
    display: none;
}

